application-element {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .application__apdex {
    color: $secondary-text;
    opacity: 62%;
    font-size: 13px;
    line-height: 19px;
    font-family: $font-bold;
    margin-right: 16px;
    min-width: 22px;
  }

  .application__name {
    color: $secondary-text;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    &:hover {
      color: $primary-text;
    }
  }
}